#random folders and files
.idea
__pycache__/
.DS_Store
img/.DS_Store

# template & csv files
Template_Task_Psychopy
rename_images.py
test_cedrus.py
csv/*.csv
csv_eyetracker/*.tsv
img_example_readme

#virtual environment
venv/
